<!DOCTYPE html>
<html>
    <head>
        <title><%=pageName%></title>
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
    </head>

    <body>

 
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class='container'>
            <a class="navbar-brand" href="#">Poll Voting App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item <% if(pageName==='Polls') { %>active<% }%>">
                        <a class="nav-link" href="/polls">Polls</a>
                    </li>
                    <li class="nav-item <% if(pageName==='My Polls') { %>active<% }%>">
                        <a class="nav-link" href="/polls">My Polls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(pageName==='Login') { %>active<% }%>" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(pageName==='Register') { %>active<% }%>" href="/register">Register</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
  